{% extends 'recipes/recipe_base.html'%}
{% block content%}
<!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Show us what you got</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                        <form id="createForm" name="create" novalidate="novalidate" method="POST" action="{% url 'addRecipe'%}">
                            {% csrf_token %}
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Recipe Title</label>
                                    <input autofocus class="form-control" id="recipetitle" name='recipeTitle' type="text" placeholder="Recipe Title" required="required" data-validation-required-message="Please enter your recipe title." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Recipe Description</label>
                                    <textarea rows = '3'class="form-control" id="recipedescription" name='recipeDescription' type="text" placeholder="Recipe Description" required="required" data-validation-required-message="Please enter your recipe description." /></textarea>
                                    
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Recipe Steps</label>
                                    <textarea rows = '4'class="form-control" id="recipesteps" name='recipeSteps' type="text" placeholder="Enter Recipe steps here" required="required" data-validation-required-message="Please enter your recipe steps" /></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <!--<label>Recipe Type</label>-->
                                    <br>
                                    <select class="form-control" name='recipeType' id="recipetype" type="select" placeholder="Password" required="required" data-validation-required-message="Please enter a valid password." />
                                        <option value='Breakfast'>Breakfast</option>
                                        <option value='Lunch'>Lunch</option>
                                        <option value='Dinner'>Dinner</option>
                                        <option value='Dessert'>Dessert</option>
                                        <option value='Snack'>Snack</option>
                                        <option value='Beverage'>Beverage</option>
                                    </select>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>img</label>
                                    <input class="form-control" id="img" type="file" accept='image/*' name = 'photo'placeholder="Re-enter Password" required="required" data-validation-required-message="Please re-enter your password." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br />
                            <div id="success"></div>
                            <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit" >Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock%}